# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

### dotenv ###
.env

# End of https://www.toptal.com/developers/gitignore/api/dotenv

# logs
logs.log
logs_test.log
# end logs

# temp
/tmp
# end temp

# Makefile
Makefile
# end Makefile
